/* Style för header */
header {
  border-bottom: 3px solid #ccc;
  overflow: hidden;
}

/* Wrapper för huvudinnehåll */
header .header-content {
  background-color: #c4babae1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

/* Style för logo */
header .logo-container {
  display: flex;
  position: relative;
}


header img {
  width: 370px;
  height: auto;
  margin-right: 5rem;
}

/* Kennel Team Holländers Text */
header .kennel-text {
  position: absolute;
  top: 40%;
  left: 100%;
  transform: translate(-100%, -50%);
  font-size: 60px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  width: 630px;
  height: 80px;
 
}

/* Från nos till svans, hund med elegegans*/
.slogan { 
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 160px;
  white-space: nowrap;
  font-style: italic;
  width: 500px;
  height: 50px;
 

  
}



nav {
  position: absolute !important;
  bottom: 0;
  right: 0rem !important;
  left: 26rem !important;
  width: 800px;
  height: 70px;
}

.nav-link {
  color: #333333;
  width: 100px;
  height: 70px;
  font-size: 1.4rem;
  text-align: center;
  margin-right: 60px !important; /* ökar avståndet mellan knapparna med 30px */
}

.nav-link:hover {
  color: white !important;
  background-color: #a79393;;
}

#foton {
  color: white !important;
  background-color: #a79393;
}


/* ÄNDRA INNEHÅLLET UNDER HUVUD RUBRIKEN */
main h1 {
  text-align: center;
  background-color: #ff9c9c81;
}

p4 {
  text-align: center;
  background-color: #ff9c9c81;
  font-weight: bold;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14,9vh; /* eller valfri höjd */
}

btn btn-primary {
  color: #333;
}


/* Från nos till svans, hund med elegans */
.slogan {
  text-align: center;
  font-size: 2rem;
  margin-top: 9rem;
  white-space: nowrap;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}


/* Kennel Team Holländers Text */
header .kennel-text {
  position: absolute;
  top: 40%;
  left: 100%;
  font-size: 60px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

  
  /* FOTON  */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  .gallery img {
    width: calc(18.0% - 2px);
    margin-bottom: 2px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(248, 130, 130, 0.2);
    max-height: 200px;
    object-fit:cover;
  }
  
  
  .gallery img:hover {
    transform: scale(2.7);
    max-height: auto;
    width: auto;
    height: auto;
  }
  
  
  